.box {
  background-color: cyan;
  margin: 4px;
  min-height: 300px;
  padding: 13px;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  background-color: white;
  /* box-shadow: 1px 1px 2px #888888; */
}

tr:hover {
  background-color: #eeeeee;
}

.logo {
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.signinButton {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}

.input .dateRange {
  overflow: visible;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #aeaeae;
  line-height: 16px;
  padding: 6px 10px 5px;
}

.stamp {
  height: 400px;
  width: 400px;
  left: 200px;
  top: 20px;
  border-radius: 5px;
  position: relative;
  /* background-color: #ef8080; */
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 1;
    transform: rotate(-15deg) scale(1);
  }
}
