body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  background-color: white;
  margin: 4px;
  min-height: 300px;
  padding: 13px;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  background-color: #1286d8;
  /* box-shadow: 1px 1px 2px #888888; */
}

.logo {
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.signinButton {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}
